<p id="yoyo"></p>
<%= form_for :appointment do |f|  %>
  <%= f.collection_select :location_id, Location.all, :id, :name, include_blank: true %>
  <%= f.grouped_collection_select :coach_id, Coach.all, :id, :name, include_blank: true %>
<% end %>