<p id="yoyo"></p>
<%= form_for :appointment do |f|  %>
  <%= f.collection_select :location_id, Location.all, :id, :name, include_blank: true %>
  <%= f.select :location_id.coaches, Coach.all, :id, :name, include_blank: true %>
<% end %>